body {
  background-color: #f2f4f7;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  background: white;
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #007bff;
  margin-bottom: 10px;
}

p {
  color: #333;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#bilgi {
  margin-top: 20px;
  font-weight: bold;
  color: #007bff;
}

